@model THUE_CD.Models.Title
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- MAIN CONTENT-->

<!-- FORM Title-->
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalTitle" style="color: blue">Thêm Tiêu Đề</h4>
            </div>
            <div class="modal-body">
                <form class="mt-5" style="margin-top: 1rem!important" method="POST" id="form">
                    <fieldset id="SubmitForm">
                        <div class="form-group" id="Title">
                            <label>Tiêu Đề:</label>
                            @Html.TextBoxFor(m => m.Name, new { @id = "Title_Name", @class = "form-control" })
                        </div>
                        <hr />
                        <div class="form-group" id="TypeDisk">
                            <label>Loại Đĩa:</label>
                            <select id="SelectType" class="form-control"></select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                            <button type="button" class="btn btn-primary" id="SaveTitleRecord">Xác Nhận</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Form chi tiết tiêu đề--> 
<div class="modal fade" id="MyModalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalTitleDetail" style="color: blue">Chi Tiết Tiêu Đề</h4>
            </div>
            <div class="modal-body">
                <form class="mt-5" style="margin-top: 1rem!important" id="formDetail">
                    <fieldset id="SubmitForm">
                        <div>
                            <label>Mã Tiêu Đề:</label>
                            <input type="text" class="form-control" id="Title_Id_Detail" disabled />
                        </div>
                        <hr />
                        <div class="form-group" id="Title">
                            <label>Tiêu Đề:</label>
                            <input type="text" class="form-control" id="Title_Name_Detail" disabled />
                        </div>
                        <hr />
                        <div class="form-group" id="TypeDisk">
                            <label>Loại Đĩa:</label>
                            <input type="text" class="form-control" id="Title_Type_Detail" disabled />
                        </div>
                        <hr />
                        <div class="form-group" id="Title">
                            <label>Số Bản Sao Có Sẵn:</label>
                            <input type="text" class="form-control" id="Num_Disk_Detail" disabled />
                        </div>
                        <hr />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- FORM XOA-->
<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xóa Tiêu Đề</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h4>Bạn muốn xóa tiêu đề này?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Hủy</a>
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Xác Nhận</a>
            </div>
        </div>
    </div>
</div>
<!-- FORM LOAD DANH SACH TIEU DE-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Danh sách tiêu đề</h2>
                        <button class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" onclick="AddNewTitle()">
                            <i class="zmdi zmdi-plus"></i>Add
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning" id="myDatatable">
                            <thead>
                                <tr>
                                    <th>Mã Tiêu Đề</th>
                                    <th>Tiêu Đề</th>
                                    <th>Loại</th>
                                    <th>Số lượng bản sao</th>
                                    <th>Số lượng bản sao có sẵn</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="SetTitleList" data-toggle="modal">
                                <tr id="LoadingStatus"></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!--END MAIN CONTENT-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    var dev = document.getElementById("Titles");
    dev.style.color = "#4373D7";
    dev.style.fontWeight = "bold";

    $(document).ready(function (evt) {

        //Binding danh sách select TypeDisk
        $.ajax({
            type: 'Get',
            url: '/TypeDisks/GetTypeList',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success:
                function TitleBind(lst) {
                    var SetData = $("#SelectType");
                    SetData.html("");
                    $.each(lst, function (index, value) {
                        var Data = "<option value='" + value.Id_Type + "'>" + value.TypeName + "</option>"
                        SetData.append(Data);
                    })
                }
        })
        //Load danh sách item
        var input1 = "";
        $.ajax({
            type: 'GET',
            cache: false,
            url: '/Titles/GetTitleList',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ input: input1 }),
            success:
                function DataBind(TitleList) {
                    var SetData = $("#SetTitleList");
                    $.each(TitleList, function (index, value) {
                        var Data = "<tr class='row_" + value.Id_Title + "'>" +
                            "<td onclick='DetailTitleRecord(" + value.Id_Title + ")'>" + value.Id_Title + "</td>" +
                            "<td onclick='DetailTitleRecord(" + value.Id_Title + ")'>" + value.TitleName + "</td>" +
                            "<td onclick='DetailTitleRecord(" + value.Id_Title + ")'>" + value.TypeName + "</td>" +
                            "<td onclick='DetailTitleRecord(" + value.Id_Title + ")'>" + value.Count + "</td>" +
                            "<td onclick='DetailTitleRecord(" + value.Id_Title + ")'>" + value.CountOnShelf + "</td>" +
                            "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteTitleRecord(" + value.Id_Title + ")'><span class='glyphicon glyphicon-trash'>Xóa</span></a>" + "</td>" + "</tr>";
                        SetData.append(Data);
                        $("#LoadingStatus").html(" ");
                    })
                },

            error: function (msg) {

                alert('Không thành công');
            }

        })

    });


    // Hàm lấy Cookie
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }

    //Show The Popup Modal For Add New Customer
    function AddNewTitle(Id_Title) {
        var tk = getCookie("Cookies");
        tk = tk.slice(7, tk.length);
        if (tk != "") {
            $("#form")[0].reset();
            $("#ModalTitle").html("Thêm Tiêu Đề");
            $("#MyModal").modal();
        }
        else {
            alert("Bạn cần đăng nhập để thực hiện chức năng này!!!");
        }

    }
    //Show The Popup Modal For Detail Title Record
    function DetailTitleRecord(Id_Title) {
        $("#MyModalDetail").modal();

        $.ajax({
            type: "GET",
            url: '/Titles/GetTitleById?Id_Title=' + Id_Title,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#Title_Id_Detail").val(obj.Id_Title);
                $("#Title_Name_Detail").val(obj.TitleName);
                $("#Title_Type_Detail").val(obj.TypeName);
                $("#Num_Disk_Detail").val(obj.NumOnShelf);
            }
        });
    }
    //Save
    $("#SaveTitleRecord").click(function () {
        var Name_Title = document.getElementById("Title_Name").value;
        var Type = document.getElementById("SelectType").value;
        if (Name_Title == "") {
            alert("Tên tiêu đề không được để trống!!!");
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Titles/SaveTitleInDatabase?Name_Title=" + Name_Title + "&Type=" + Type,

                success: function () {
                    alert("Thêm Thành Công!");
                    window.location.href = "/Titles/Index";
                    $("#MyModal").modal("hide");
                }
            })
        }

    })

    function DeleteTitleRecord(titleId) {

        alert(titleId);
    }
    var ID_Delete;
    var DeleteTitleRecord = function (Id_Title) {
        var tk = getCookie("Cookies");
        tk = tk.slice(7, tk.length);
        if (tk != "") {
            ID_Delete = Id_Title;
            $("#DeleteConfirmation").modal("show");
        } else
            alert("Bạn phải đăng nhập để thực hiện chức năng này!!!");
    }
    var ConfirmDelete = function () {
        var Item_Id = ID_Delete;
        $.ajax({
            type: "POST",
            url: "/Titles/DeleteTitleRecord?Id_Title=" + Item_Id,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + Item_Id).remove();
            },
            error: function () {

                alert('Không thành công');
            }
        })
    }
</script>

