@model IEnumerable<THUE_CD.Models.Customer>

@{
    ViewBag.Title = "IndexReportCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
@*<script src="~/js/Test.js"></script>*@

<style>
    .hovertd:hover{
        background-color:#808080;
        color:#fff;
    }
</style>
<!-- FORM LOAD DANH SACH KHACH HANG-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Báo cáo khách hàng</h2>
                        <div class="col-lg-pull-4">

                            <form class="form-header">
                                <select name="select" id="SearchBy">
                                    <option value="0">Tất cả khách hàng</option>
                                    <option value="1">Khách hàng có đĩa quá hạn</option>
                                    <option value="2">Khách hàng có phí trễ</option>
                                </select>
                                <button id="SearchBtn" type="submit" class="btn btn-primary">Tìm</button>
                            </form>
                        </div>


                        @*@Html.TextBox("Search")<input type="submit" id="SearchBtn" value="Search" /><br /><br />*@
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <div class="table-responsive table--no-card m-b-40 table-data">
                        <table class="table table-borderless table-striped table-earning table-data3">
                            <thead>
                                <tr>
                                    <th>Mã KH</th>
                                    <th>Họ Và Tên</th>
                                    <th>Địa Chỉ</th>
                                    <th>SDT</th>
                                    <th>Phí Trễ</th>
                                    <th>CD Đang Thuê</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody id="SetCustomerList" data-toggle="modal">
                                <tr id=""></tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Form xem chi tiết các CD -->
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">Thông tin khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-lg-b-195 table-responsive" method="POST">
                    <!-- CD-->
                    <div class="top-campaign">
                        <div class="table-responsive">
                            <table class="table table-top-campaign">
                                <thead style="text-align:center;">


                                    <tr>
                                        <th>Khách Hàng</th>
                                        <th>Số Đĩa Đang Thuê</th>
                                        <th>Số Đĩa Quá Hạn</th>
                                        <th>Nợ Phí</th>
                                    </tr>

                                </thead>
                                <tbody id="SetReportCustomerList" data-toggle="modal" style="text-align:center;">
                                    <tr id="LoadingStatus">
                                        <td id="khachhang"></td>
                                        <td class="hovertd" id="sodiadangthue"></td>
                                        <td class="hovertd" id="sodiaquahan"></td>
                                        <td class="hovertd" id="nophi" style="text-align:center;color:red"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--  CD-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--Form hien thi cac dia dang thue cua khach hang-->
<div class="modal fade" id="MyModal_Diaquahan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle_Diaquahan">Thông tin khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-lg-b-195 table-responsive" method="POST">
                    <!-- CD-->
                    <div class="top-campaign">
                        <div class="table-responsive">
                            <table class="table table-top-campaign">
                                <thead style="text-align:center;">
                                    <tr>
                                        <th>ID Đĩa</th>
                                        <th>Tiêu đề</th>
                                        <th>Ngày Thuê</th>
                                        <th>Hạn Trả</th>
                                        <th>Số Ngày Trễ</th>
                                    </tr>

                                </thead>
                                <tbody id="SetCustomerList1" data-toggle="modal" style="text-align:center;">
                                    <tr id="LoadingStatus1">
                                        
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--  CD-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    var dev = document.getElementById("Report");
    dev.style.color = "#4373D7";
    dev.style.fontWeight = "bold";
    //Them so 0 truoc ngay thang < 10
    function padLeft(number) {
        return ((number < 10) ? "0" : "") + number;
    }

    //Format ngay thang nam
    function parseJsonDate(jsonDateString) {
        var date = new Date(parseInt(jsonDateString.replace('/Date(', '')));

        return padLeft(date.getDate()) + "/" + padLeft(date.getMonth() + 1) + "/" + date.getFullYear();
    }
    //View danh sach cac customer
    $(document).ready(function (evt) {
        var input1 = "";
        $.ajax({
            type: 'GET',
            cache: false,
            url: '/Report/GetAllCustomerList',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({ input: input1 }),
            success:
                function DataBind(CusList) {
                    //This Code For Receive All Data From Controller And Show It In Client Side
                    var SetData = $("#SetCustomerList");
                    for (var i = 0; i < CusList.length; i++) {
                        var Data = "<tr class='row_" + CusList[i].Id_Customer + "'>" +
                           "<td onclick='ShowCDCustomer(" + CusList[i].Id_Customer + ")'>" + CusList[i].Id_Customer + "</td>" +
                                "<td onclick='ShowCDCustomer(" + CusList[i].Id_Customer + ")'>" + CusList[i].FullName + "</td>" +
                                "<td onclick='ShowCDCustomer(" + CusList[i].Id_Customer + ")'>" + CusList[i].Address + "</td>" +
                                "<td onclick='ShowCDCustomer(" + CusList[i].Id_Customer + ")'>" + CusList[i].Phone + "</td>" +
                                "<td onclick='ShowCDCustomer(" + CusList[i].Id_Customer + ")'>" + CusList[i].Fine + "</td>" +
                                "<td onclick='ShowCDCustomer(" + CusList[i].Id_Customer + ")'>" + CusList[i].CountCDBorrow + "</td>" +
                            "<td>" + "<a href='#' class='btn btn-success' onclick='ShowCDCustomer(" + CusList[i].Id_Customer + ")'><span>Xem chi tiết</span></a>" + "</td>" +
                            "</tr>";
                        SetData.append(Data);
                    }
                },

            error: function (msg) {

                alert('Không thành công');
            }
        })
    });

    //Hien thi thong tin CD cua khach hang
    function ShowCDCustomer(Id_Customer) {
        $("#ModalTitle").html("Thông tin khách hàng");
        $("#MyModal").modal();

        $.ajax({
            type: "GET",
            url: '/Report/GetInfoCustomer?Id_Customer=' + Id_Customer,
            success: function (data) {
                 var d = JSON.parse(data);
                 document.getElementById("khachhang").innerHTML = d.FullName;
                 document.getElementById("sodiadangthue").innerHTML = d.CountCDBorrow;
                 document.getElementById("sodiaquahan").innerHTML = d.NumDiskLate;
                 document.getElementById("nophi").innerHTML = d.Fine;
              },
            error: function (msg) {
                alert("error");
            },
            
        });
        $("#sodiaquahan").click(function () {
            $("#ModalTitle_Diaquahan").html("Khách Hàng: ");
            $("#MyModal_Diaquahan").modal();
            $.ajax({
                type: "get",
                url: "/Report/GetListDiskLate?Id_Customer=" + Id_Customer,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success:
                function (List) {
                    var obj = JSON.parse(List);
                    $("#SetCustomerList1").html("");
                    var SetData = $("#SetCustomerList1");

                    for (var i = 0; i < obj.length; i++) {

                        var temp = obj[i].DateDue;
                        hantra = new Date(temp);
                        // Do your operations
                        var d = new Date();
                        var t = d.getTime() - hantra.getTime();
                        var seconds = Math.floor((t) / (1000));
                        seconds = seconds / 60 / 60 / 24;
                        var songay = parseInt(seconds);
                        if (songay < 0) {
                            songay = 0;
                        }
                        var Data =
                             "<tr class='row_" + Id_Customer + "'>" +
                             "<td>" + obj[i].ID + "</td>" +
                       "<td>" + obj[i].Title_Name + "</td>" +
                       "<td>" + obj[i].DateRent + "</td>" +
                       "<td>" + obj[i].DateDue + "</td>" +
                       "<td>" + songay + "</td>" +
                   "</tr>";
                        SetData.append(Data);
                    }
                }

            });

        });
    }


    //Tim khach hang
        $("#SearchBtn").click(function (event) {
            event.preventDefault();
            var SearchBy = $("#SearchBy").val();
            var SetData = $("#SetCustomerList");
            SetData.html("");
            $.ajax({
                type: "GET",
                url: "/Report/GetSearchingData?SearchBy=" + SearchBy,
                contentType: "html",
                success: function (result) {
                    if (result.length == 0 || result ==false) {
                        SetData.append('<tr style="color:red"><td style="color:red; text-align:center" colspan="8">Danh sách rỗng</td></tr>')
                    }
                    else {
                        $.each(result, function (index, value) {
                            var Data =
                                "<tr class='row_" + value.Id_Customer + "'>" +
                                "<td onclick='ShowCDCustomer(" + value.Id_Customer + ")'>" + value.Id_Customer + "</td>" +
                                "<td onclick='ShowCDCustomer(" + value.Id_Customer + ")'>" + value.FullName + "</td>" +
                                "<td onclick='ShowCDCustomer(" + value.Id_Customer + ")'>" + value.Address + "</td>" +
                                "<td onclick='ShowCDCustomer(" + value.Id_Customer + ")'>" + value.Phone + "</td>" +
                                "<td onclick='ShowCDCustomer(" + value.Id_Customer + ")'>" + value.Fine + "</td>" +
                                "<td onclick='ShowCDCustomer(" + value.Id_Customer + ")'>" + value.CountCDBorrow + "</td>" +
                                "<td>" + "<a href='#' class='btn btn-success' onclick='ShowCDCustomer(" + value.Id_Customer + ")'><span>Xem chi tiết</span></a>" + "</td>" +
                                "</tr>";
                            SetData.append(Data);

                        });
                        //event.preventDefault();
                    }
                }
            });
        });
</script>